<%= ERB.new(File.read(File.expand_path("_header.erb",File.dirname(file)))).result(binding) -%>

[main]
    # Where Puppet's general dynamic and/or growing data is kept
    vardir = <%= scope.lookupvar('::puppet::vardir') %>

    # The Puppet log directory.
    # The default value is '$vardir/log'.
    logdir = <%= scope.lookupvar('::puppet::logdir') %>

    # Where Puppet PID files are kept.
    # The default value is '$vardir/run'.
    rundir = <%= scope.lookupvar('::puppet::rundir') %>

    # Where SSL certificates are kept.
    # The default value is '$confdir/ssl'.
    ssldir = <%= scope.lookupvar('::puppet::ssldir') %>

    # Allow services in the 'puppet' group to access key (Foreman + proxy)
    privatekeydir = $ssldir/private_keys { group = service }
    hostprivkey = $privatekeydir/$certname.pem { mode = 640 }

    # Puppet 3.0.x requires this in both [main] and [master] - harmless on agents
    autosign = <%= scope.lookupvar('::puppet::autosign') %>

    show_diff     = <%= scope.lookupvar('::puppet::show_diff') %>

<% if @module_repository and !@module_repository.empty? -%>
    module_repository = <%= @module_repository %>
<% end -%>

<% if @ca_server and !@ca_server.empty? -%>
    # Use specified CA server
    ca_server = <%= @ca_server %>
<% end -%>
<% if @ca_port and !@ca_port.to_s.empty? -%>
    # Use specified CA port
    ca_port = <%= @ca_port %>
<% end -%>
<% if @hiera_config and !@hiera_config.empty? -%>
    hiera_config = <%= @hiera_config %>
<% end -%>
<% if @dns_alt_names and !@dns_alt_names.empty? -%>
    dns_alt_names = <%= @dns_alt_names.join(",") %>
<% end -%>
<% if @use_srv_records -%>
    use_srv_records = true
    srv_domain = <%= @srv_domain %>
<% if @pluginsource -%>
    pluginsource = <%= @pluginsource %>
<% end -%>
<% if @pluginfactsource -%>
    pluginfactsource = <%= @pluginfactsource %>
<% end -%>
<% end -%>
<% if @syslogfacility and !@syslogfacility.empty? -%>

    syslogfacility = <%= @syslogfacility %>
<% end -%>
<% if scope.lookupvar("puppet::server_directory_environments") -%>
    environmentpath  = <%= scope.lookupvar("puppet::server_envs_dir") %>
    basemodulepath   = <%= [scope.lookupvar("puppet::server_common_modules_path")].flatten.join(':') %>
<% end -%>
<% scope.lookupvar("puppet::additional_settings").sort_by {|k, v| k}.each do |key, value| -%>
    <%= key %> = <%= value %>
<% end -%>
<% if scope.lookupvar("puppet::server_default_manifest") -%>
    default_manifest = <%= scope.lookupvar("puppet::server_default_manifest_path") %>
<% end -%>
